<main>
  <section class="header_2"> 

    <div class="progress-container">
      <h1 class="title">MÓDULO I: Invertir aprendiendo, aprender invirtiendo</h1> 
      <mat-progress-bar mode="determinate" value="{{getPercent(modulesList[0])}}"></mat-progress-bar>
    </div>
  </section>
  <section id="main">
		<div id="tabs">
      <div class="module__right__info__tabs__container">
        <mat-tab-group>
          <mat-tab label="Home"> 
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi quam cupiditate possimus vitae inventore laboriosam nostrum? Veniam soluta iste eaque quas explicabo modi dignissimos deleniti perferendis. Vero, ullam maxime. 
                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
      
                <video src="../../../assets/images/MZ3XTG3JDDNMX2B5.mp4" width="500" height="300"  controls class="video"></video> <br>
      
                <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
              </div>
          </mat-tab>
          <mat-tab label="Tema 1"> 
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sed ipsa quae ad totam beatae culpa nulla soluta quas alias! 
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
              <img src="../../../assets/images/Invest.svg" alt="Investment image">
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </mat-tab>
          <mat-tab label="Tema 2">  
            <div>
              <p>Soluta cupiditate amet cum placeat distinctio dolorem nemo, aut numquam? 
              No officiis lobortis eam. Soluta laboramus mei cu, sea modo dicant eu, cu ius eius aperiri. An pro dicam contentiones. Duo amet lorem officiis ex, an legimus nusquam atomorum per, per cu erat ornatus. Nibh oratio eam eu. An lobortis sapientem delicatissimi mea, ex dicunt tacimates quo, nec ad aeque adipisci efficiantur.</p>
              <img src="../../../assets/images/tree-grows-on-coin-in-glass-jar-with-copy-space.jpg" alt="Image of a tree growing in a jar">
              <p> Pri ad quando suscipit conclusionemque, ad vel dico ubique. Et sit utinam apeirian. Ea nemore delicatissimi eos, cum adhuc dignissim ad, putent ocurreret has ut. Eos amet duis solet id, est ne prima nostro virtute, ea pri etiam recteque disputando. Enim dolorum vivendum at vel, vis odio consul te. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo explicabo ut animi odit consequatur mollitia consectetur repudiandae, cupiditate eius soluta dolorem et labore repellendus deleniti expedita! Suscipit quibusdam voluptatibus ex. </p>
            </div>
          </mat-tab>
          <mat-tab label="Tema 3"> 
            <div>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, eaque.  
              No officiis lobortis eam. Soluta laboramus mei cu, sea modo dicant eu, cu ius eius aperiri. An pro dicam contentiones. Duo amet lorem officiis ex, an legimus nusquam atomorum per, per cu erat ornatus. Nibh oratio eam eu. An lobortis sapientem delicatissimi mea, ex dicunt tacimates quo, nec ad aeque adipisci efficiantur.</p>
              <img src="../../../assets/images/jdgXCv2d9fBDcQALSNYW.jpg" alt="Wealth / Health image">
              <p> Pri ad quando suscipit conclusionemque, ad vel dico ubique. Et sit utinam apeirian. Ea nemore delicatissimi eos, cum adhuc dignissim ad, putent ocurreret has ut. Eos amet duis solet id, est ne prima nostro virtute, ea pri etiam recteque disputando. Enim dolorum vivendum at vel, vis odio consul te. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex possimus nostrum iste iusto nihil nobis rerum distinctio eaque. Voluptates quibusdam culpa voluptas rerum consequatur reprehenderit soluta delectus optio repellat voluptate. </p>
            </div>
          </mat-tab>
          <mat-tab label="Tema 4"> 
            <div>
              <p> Odit eius officiis animi harum ad hic, veritatis sint libero corrupti dolorum tenetur, autem quisquam quaerat minima temporibus nostrum alias! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic itaque quas repudiandae ducimus rerum! Fuga cupiditate repudiandae officiis commodi provident reiciendis labore amet, quos voluptates, quod quae animi sequi vitae.</p>
              <img src="../../../assets/images/20200120-invest.webp" alt="">
              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quod porro, cum maiores unde illum nesciunt error ullam. Culpa, architecto harum accusantium mollitia similique eaque odit ipsam asperiores. Perferendis, atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam enim obcaecati incidunt quo facere et nisi quos, unde debitis consectetur dolorem beatae molestias harum doloribus omnis quod rem ex facilis?</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
		</div>
    
	</section>
  <section class="testimonials">
      <h1 class="testimonials__title"> Testimonios </h1>
  </section>
  <div class="outerdiv">
      <div class="innerdiv">
        <!-- div1 -->
        <div class="div1 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name">Lucas Salazar</p>
              <p class="designation">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review">
            <h4>Gracias a estos módulos, gané mi primer millón en rendimientos</h4>
          <p>“ Al principio era incrédulo, pero con la metodología de enseñanza, fue más fácil de lo que pensé ”</p>
          </div>
        </div>
        <!-- div2 -->
        <div class="div2 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name">Andrés Hernández</p>
              <p class="designation">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review">
            <h4>Es una plataforma que me genera confianza</h4>
          <p>“ Siempre he sido inseguro de invertir mi dinero en plataformas donde no entiendo qué pasa con mi capital. En protección y con ayuda de este contenido, siempre tengo claro que está pasando con el depósito que hago”</p>
          </div>
          
        </div>
        <!-- div3 -->
        <div class="div3 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name dark">Sindy Piedrahita</p>
              <p class="designation dark">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review dark">
            <h4>Los videos son lo mejor!</h4>
            <p>“ Con los videos explicativos se me hizo súper fácil entender el funcionamiento de la plataforma. Con esta información le pude explicar a mi familia, y ahora hasta mi mamá invierte! ”</p>
          </div>
        </div>
        
      </div>
  </div>
</main>