.footer{
  margin-bottom: 0;
  padding-left: 2%;
  padding-bottom: 0 !important;
  color: #003057;
}
.row{
  width: 100%;
  border-top: 1px solid gray;
  padding-top: 30px;
  text-align: center;
  align-items: center;
}
.copyright{
  padding: 0 5%;
  border-top: #0033A0 solid 1px !important;
}
h5{
  font-size: 1rem;
}