*{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  color: #0033A0;
}
.course-info{
  display: flex;
  width: 80%;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  &__img__container{
    width: 100%;
  }
  &__img{
    width: 100%;
    max-width: 400px;
  }
}
.course-info__text{
  margin: 5%;
  &__title{
    font-size: 3rem;
    margin: 2rem auto;
  }
  &__phrase{
    font-size: 1.5rem;
  }
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.3rem;
}
.course-info__text__paragraph__container{
  margin-top: 5%;
}
.course-desc{
  padding: 0 10%;
  margin: auto;
}
.course-desc__title{
  padding: 5% 0 0 5%;
}
.course-desc__info__container{
  display: flex;
}
.course-desc__info__block{
  margin: 2rem;
}
.course-desc__info__title{
  text-align: center; 
  margin-bottom: 2rem;
}
.course-content{
  width: 90%;
  margin: auto;
  text-align: center;
}
.course-content__info{
  padding-top: 3%;
}
.course-content__modules{
  display: flex;
  margin: 4% auto;
}
.col-lg-4{
  padding: 2% 3%;
}
.col-lg-4 h4{
  margin-top: 10%;
}
hr{
  margin: 0;
}
.about-us{
  padding: 0 2.5%;
  margin: auto;
  display: flex;
  &__title{
    font-size: 2rem;
  }
  &__img__fint{
    width: 50%;
  }
}
.about-us div{
  padding-top: 1rem;
  width: 50%;
  text-align: center;
  margin: auto;
}
.about-us__info{
  align-items: center;
  padding: 0 5%;
  .company-name{
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.about-us__info *{
  margin-bottom: 5%;
}
.about-us__img{
  width: 80%;
}
