<main>
  <div class="course-info">
      <div class="course-info__text">
          <div class="course-info__text__title__container">
              <h1 class="course-info__text__title">F I N T</h1>
          </div>
          <div class="course-info__text__phrase__container">
              <h2 class="course-info__text__phrase">Invertir aprendiendo. Aprender invirtiendo.</h2>
          </div>
          <div class="course-info__text__paragraph__container">
              <p class="course-info__text__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, ex adipisci? Atque id inventore quas enim, pariatur, magni quam, aliquam provident reiciendis vero quasi esse accusamus nam fugit sed voluptate.</p>
              <p class="course-info__text__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, ex adipisci? Atque id inventore quas enim, pariatur, magni quam, aliquam provident reiciendis vero quasi esse accusamus nam fugit sed voluptate.</p>
          </div>
      </div>
      <div class="course-info__img__container">
          <img src="../../assets/images/motivated-woman.webp" alt="Image placeholder" class="course-info__img rounded-circle">
      </div>
  </div>
  <hr>
  <div class="course-desc bg-white">
      <h3 class="course-desc__title">Descripción del curso</h3>
      <div class="course-desc__info__container">
          <div class="course-desc__info__block">
              <h4 class="course-desc__info__title">¿Para quién es este curso?</h4>
              <div class="course-desc__info__text">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolore delectus sit suscipit aut eius maiores nisi, esse aperiam repudiandae ea nihil, aliquid exercitationem laborum aspernatur eligendi quod illum rem? </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium assumenda adipisci quod, nostrum dolorem doloremque temporibus officiis neque necessitatibus nemo, sit debitis quis, dolorum porro omnis error culpa commodi magnam.</p>
              </div>
          </div>
          <div class="course-desc__info__block">
              <h4 class="course-desc__info__title">¿Qué hay en este curso?</h4>
              <div class="course-desc__info__text">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolore delectus sit suscipit aut eius maiores nisi, esse aperiam repudiandae ea nihil, aliquid exercitationem laborum aspernatur eligendi quod illum rem? </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium assumenda adipisci quod, nostrum dolorem doloremque temporibus officiis neque necessitatibus nemo, sit debitis quis, dolorum porro omnis error culpa commodi magnam.</p>
              </div>
          </div>
      </div>
  </div>
  <hr>
  <div class="course-content">
      <div class="course-content__info">
          <h3 class="course-content__info__title">Esto es lo que aprenderás</h3>
          <p class="course-content__info__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloremque maiores dicta nulla quis esse minus</p>
      </div>
      <div class="course-content__modules">
              <div class="col-lg-4">
                  <img class="rounded-circle" src="../../assets/images/financial-assets.png" alt="Generic placeholder image" width="140" height="140">
                  <h4>Heading</h4>
                  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                  <img class="rounded-circle" src="../../assets/images/ongoing-investments.webp" alt="Generic placeholder image" width="140" height="140">
                  <h4>Heading</h4>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                  <img class="rounded-circle" src="../../assets/images/Invest.svg" alt="Generic placeholder image" width="140" height="140">
                  <h4>Heading</h4>
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
      </div>
  </div>
  <hr>
  <div class="about-us bg-white">
      <div class="about-us__info">
          <h2 class="about-us__title">About us</h2>
          <h3 class="company-name">FINT</h3>
          <p class="about-us__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptas reiciendis. Voluptatibus, architecto quae inventore corporis tempora laboriosam suscipit eum nisi? Earum, non amet. Reprehenderit sunt numquam optio asperiores animi.</p>
          <h3 class="company-name">Protección</h3>
          <p class="about-us__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptas reiciendis. Voluptatibus, architecto quae inventore corporis tempora laboriosam suscipit eum nisi? Earum, non amet. Reprehenderit sunt numquam optio asperiores animi.</p>
      </div>
      <div class="about-us__graphic">
        <img src="../../assets/images/logo_app.jpeg" alt="Image placeholder" class="about-us__img__fint rounded-circle">
          <img src="../../assets/images/logotipo-proteccion.jpg" alt="Logotipo de compañía Proteccion" class="about-us__img">
      </div>
  </div>
</main>