/*  Course-Info     */
.course-info{
  display: flex;
  width: 80%;
  margin: 2% auto;
}
.course-info__img{
  width: 145px;
  height: 145px;
}
.course-info__text{
  width: 80%;
  margin: auto;
}
/*  Modules     */
.modules{
  width: 90%;
  margin: 5% auto;
}
.modules__module{
  width: 90%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-size: 1.5em;
  border: 1px solid #0033A0;
  border-radius: 10px;
  color: white;
  i{
    color: white
  }
}
.module__1, .module__2, .module__3{
  position: relative;
}
.module__1::after, .module__2::after, .module__3::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #1D428A;
  z-index: -1;
}
.module__3::after{
  width: 60%;
}
.modules__module__name{
  flex-grow: 2;
}
.modules__module__progress{
  flex-grow: 1;
  text-align: center;
}
.modules__module__arrow a{
  color: black;
}
h1, h2, h3, h4, h5, h6{
  color: #0033A0;
}
mat-progress-bar{
  --mdc-linear-progress-active-indicator-color: #0033A0;
}