<div class="info">
  <h2 class="title">Porque aprendemos, invertimos y crecemos juntos</h2>
  <p>Este es un espacio donde podras interactuar con guías, portafolios, consejos y contenidos en general creados por la comunidad</p>
</div>
<div class="questions">
  <div *ngFor="let question of questions" class="card">
    <div class="user">
      <img src="{{question.pic}}" alt="Image of user" class="user__pic rounded-circle">
      <p class="user__name">{{question.user}}</p>
    </div>
    <div class="question__container">
      <h3 class="question"> {{question.question}} </h3>
      <div class="question__info">
        <p class="timestamp"> {{question.time}} </p>
        <p class="responses">  Answers: {{question.responses}} </p>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <h2 class="title">Eventos y novedades</h2>
  <p>Mantenerse informado es esencial para escoger las mejores opciones financieras. Aquí puedes encontrar las novedades que te recomendamos</p>
</div>
<div class="events">
  <div *ngFor="let event of events" class="card">
    <img src="{{event.img}}" alt="Image of the event" class="event__img">
    <h3 class="event__name">{{event.name}}</h3>
  </div>
</div>