<header class="navbar-header p-3 text-bg-dark">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a routerLink="" class="nav-link px-2 text-secondary"><img src="../../../assets/images/logo_app.jpeg" alt="Educaprotech logo" class="header__logo rounded-circle"></a></li>
              <li><a routerLink="/modules" class="nav-link px-2 text-white">Lista de modulos</a></li>
              <li><a routerLink="/community" class="nav-link px-2 text-white">Comunidad</a></li>
          </ul>
          <div class="text-end">
              <a routerLink="/login"><button type="button" class="btn btn-outline-light me-2">Ingresar</button></a>
              <a routerLink="/register"><button type="button" class="btn btn-warning">Registrarme</button></a>
          </div>
      </div>
  </div>
</header>