header{
  padding: 0.2rem !important;
}
.navbar-header{
  background-color: #003057 !important;
}
.nav{
  align-items: center;
}
.navbar-header .btn-warning{
  background-color: #FFE946 !important;
}
header>div>div{
  font-size: 125%;
}
h1, h2, h3, h4, h5, h6{
  color: #0033A0;
}
.header__logo{
  width: 70px;
}